
<div class="col-sm-11 mt-3 ml-5">
  <div class="card ">
    <div class="card-header bg-dark">
      <h2 class="card-title text-white"><strong>Details Person : {{person.firstName}}</strong></h2>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">

      <div style="float: left; width: 75%" class="ml-5">
        <table class="table table-borderless">
          <tr>
            <td class="size24 font-weight-bold">firstName: </td>
            <td class="size24">{{person.firstName}}</td>
          </tr>
          <tr>
            <td class="size24 font-weight-bold">phoneNumber: </td>
            <td class="size24">{{person.phoneNumber}}</td>
          </tr>
          <tr>
            <td class="size24 font-weight-bold">age :</td>
            <td class="size24">{{person.age}}</td>
          </tr>
          <tr>
            <td class="size24 font-weight-bold">country :</td>
            <td class="size24">{{person.country}}</td>
          </tr>
          <tr>
            <td class="size24 font-weight-bold">jobTitle</td>
            <td class="size24">{{person.jobTitle}} </td>
          </tr>
          <tr>
            <td class="size24 font-weight-bold">monthlyIncome</td>
            <td class="size24">{{person.monthlyIncome}} </td>
          </tr>
          <tr>
            <td class="size24 font-weight-bold">log</td>
            <td class="size24">{{person.log}} </td>
          </tr>
          <tr>
            <td class="size24 font-weight-bold">len</td>
            <td class="size24">{{person.len}} </td>
          </tr>

        </table>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
</div>
